div {
    font-family: Arial;
    color:red;
}

.div1 {
    color: black;
    padding-top: 15px;
}

.div2 {
    color: blue;
}

.div3 {
    color: red;
}

table {
    border: 2px solid black;
    border-collapse: collapse
}